.users {
  margin: 2rem auto;
  width: 90%;
  max-width: 40rem;
}

.users ul {
  list-style: none;
  padding: 1rem;
}

.users li {
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: rgb(9, 9, 9);
  background: rgb(159, 185, 75);
}

button {
  background-color: brown;
}
